@use '../abstracts' as *;
main {
  padding-top: 4.5rem;
}
.heading-container {
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
  padding: 3.5rem 1rem 3.5rem;
  //   background-color: red;
  background-image: url(../assets/img/main-image.jpg);

  @include for-tablet-landscape-up {
    padding: 7rem 0 7rem;
    background-image: url(../assets/img/large-main-img.jpg);
    div {
      width: 1000px;
    }
    h1 {
      font-size: 40px;
      line-height: 1.7em;
    }
  }
}
.main-information-container,
.carousel-container-wrapper {
  background-color: $bg-grey;
  padding: 2rem 1rem;
}
.main-information-container {
  .btn {
    display: inline-block;
    margin-top: 3em;
  }
  @include for-tablet-landscape-up {
    display: flex;
    justify-content: center;

    padding: 3.9em;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 28px;
        line-height: 1.5em;
      }
      .btn {
        align-self: flex-start;
        font-size: 19px;
      }
    }
  }
}
.courses-container {
  padding: 1rem;
  background-color: $bg-dark-black;
  @include for-tablet-landscape-up {
    display: flex;
    justify-content: center;
    .courses-outside-wrapper {
      width: 1000px;
    }
    h2 {
      font-size: 22px;
      width: 100%;
      margin-bottom: 4.4rem;
      margin-top: 1.5rem;
    }
  }
}
.courses-wrapper {
  width: 100%;
  margin-top: 2rem;
  @include for-tablet-landscape-up {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
  }
}
.course-img-box-ios {
  background-image: url(../assets/img/course-card-ios.jpg);
}
.course-img-box-react {
  background-image: url(../assets/img/react-img.jpg);
}
.course-img-box-intro-python {
  background-image: url(../assets/img/python-intro-img.jpg);
}
.course-img-box-python {
  background-image: url(../assets/img/python-img.jpg);
}
.course-img-box-cybersecurity {
  background-image: url(../assets/img/cybersecurity-img.jpg);
}
.course-img-box-tot {
  background-image: url(../assets/img/tot-img.jpg);
}
.course-img-box-blockchain {
  background-image: url(../assets/img/blockchain-img.jpg);
}
.course-img-box-devops {
  background-image: url(../assets/img/devops-img.jpg);
}
.course-img-box-informationsecurity {
  background-image: url(../assets/img/informationsecurity-img.jpg);
}
.carousel-container-wrapper {
  display: flex;
  flex-direction: column;

  .carousel-inner {
    align-self: center;
    width: 100%;
    @include for-tablet-landscape-up {
      width: 1000px;
    }
  }
  //   border-bottom: 0.5px solid rgba(114, 110, 110, 0.219);
  //   border-top: 1px solid rgba(85, 85, 85, 1);
}
.faq-container {
  font-family: $TBC-regular;
  background-color: $bg-dark-black;
  padding: 3rem 1.5rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .faq-container-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  h5 {
    margin-bottom: 2rem;
  }
  .btn {
    margin-top: 4rem;
    font-weight: 900;
    font-size: 18px;
    align-self: center;
  }
  @include for-tablet-landscape-up {
    .faq-container-inner {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    h5 {
      max-width: 90%;
      font-size: 20px;
      margin-bottom: 2rem;
      order: 1;
    }
    .btn {
      font-size: 22px;
      min-width: 10%;
      margin-bottom: 2rem;
      order: 2;
      margin-top: 0;
      padding-top: 0;
    }
    .faq-questions-wrapper {
      width: 100%;
      order: 3;
    }
  }
}
